{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
            Freeshelf
        {% endblock title %}
    </title>
   <link rel="stylesheet" href="{% static 'css/style.css' %}" />
   <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
</head>
<body>
    <header>
        <h1>Freeshelf App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'favorites' %}">Favorites</a></li>
                <li><a href="{% url 'category' %}">Category</a></li>
            </ul>
        </nav>
        </header>
    {% block content %}
    {% endblock content %}
    {% block footer %}
    {% endblock footer %}
</body>
</html>
