{% extends 'base.html' %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

* {.baskerville { font-family: baskerville, serif; }}
{% block content %}
    {% for book in books %}
    {% comment %} {% if book.category == True %} {% endcomment %}
    {% comment %} <h2>{{ book.name }}</h2> {% endcomment %}
    {% comment %} <p>{{ book.description }}</p> {% endcomment %}
    <h2><a href="{% url 'book_detail' slug=book.slug %}">{{ book.name }}</a></h2>
    <p>{{ book.author }}</p>
    <p>{{ book.description }}</p>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
{% endblock content %}
